html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: 'Mina', sans-serif; */
  font-family: "Montserrat", sans-serif;
  background-image: url(../img/bg.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  
}

.fp-watermark{
	display: none;
}

#header, #footer {
    position: fixed;
    height: 50px;
    display: block;
    width: 100%;
    z-index: 9;
}
#header{

}
#header .header-wraper{
background: rgb(232,232,232);
background: linear-gradient(180deg, rgba(232,232,232,1) 0%, rgba(255,255,255,0) 100%);
	display: flex;
	align-items: center;
	justify-content:space-between ;
	padding: 20px;
}
#header .header-wraper .nav {
	position: relative;
	text-decoration: none;
	 font-family: 'Mina', sans-serif;
	font-size: 21px;
	text-transform: uppercase;
	color:#000;
}
#header .header-wraper .nav:before{
  content:"";
  position:absolute;
  color:#262626;
  bottom:0;
  left:0;
  width:0%;
  height: 1px;
  background-color: #000;
  overflow:hidden;
  transition:all 0.5s;
}
#header .header-wraper .nav:hover:before{
  width:100%;
}
/* slide */
.section{
	width: 100%;
	height: 100%;
	/* background-color: #fff; */
}
.container{
	max-width: 998px;
	width: 100%;
	margin: 0 auto;
}
.row{
	display: flex;
	align-items: center;
	padding: 0px 20px;
}
.col{
	width: 50%;
}
h2{
	 font-family: 'Mina', sans-serif;
	font-size: 51px;
	margin-bottom: 35px;
}
p{
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 15px;
}
img{
	max-width: 100%;
	height: auto;
}
.wraper-contact{
	display: flex;
	
}
.contact{
	padding-right: 50px;
}
 h3{
	font-family: 'Mina', sans-serif;
	font-size: 21px;
	margin-bottom: 15px;
}
.contact h4{
	font-family: 'Mina', sans-serif;
	font-size: 18px;
	margin-bottom: 15px;
}
.contact a{
	font-size: 16px;
	display: block;
	margin-bottom: 10px;
	color:black;
	text-decoration: none;
}

/* END slide */

/* form */
form{
	padding: 15px;
}
form .form-group{
	width: 100%;
	padding: 5px 0px;

}
form .form-group input{
	width: 100%;
	padding: 10px;
	border:none;
	border-bottom:1px solid #000;
	outline: 0;
}
form .form-group .checkbox label{
	display: flex;
	align-items: flex-start;
}
form .form-group .checkbox input{
	width: 24px;
	margin: 10px;
	outline: 0;
}
form .form-group input:focus{
	border-bottom:1px solid green;
}
form .form-group.has-error input:focus{
	border-bottom:1px solid green;
}
form .form-group .zgoda-visible{
	font-size: 10px;
}
form .btn-wrap{
	text-align: right;
}
form .btn-wrap .btn{
	font-family: 'Mina', sans-serif;
	font-size:16px;
	text-transform: uppercase;
	margin: 5px 0;
	padding: 8px 50px;
	background-color: #000;
	color:#fff;
	width: 100%;
	border:none
}
[disabled="disabled"]{
	opacity: 0.5;
}
form .has-error input, form .has-error select {
    border-bottom: 1px solid red !important;
}
/* .has-error input{
	border-bottom:3px solid red;
} */

.section8 .row{
	align-items:flex-start;
}
/* thx */
.thx{
	height: 100vh;
	    display: flex;
    align-items: center;
}
 #footer{
	bottom: 0;
	padding: 0;
	background: rgb(235,235,235);
	background: linear-gradient(0deg, rgba(235,235,235,1) 0%, rgba(255,255,255,0) 100%);
 }

 #footer ul{
	padding: 0px;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
 }
#footer ul li{
	/* margin: 10px 0; */
	padding: 5px 10px;
	position: relative;
	border-right: 1px solid #000;
 }
 #footer ul li:last-child{
	border:none;
 }

#mouse-scroll {
  style: block;
}
#mouse-scroll {
  position: fixed;
  margin: auto;
  right: 20px;
  bottom:20px;
  -webkit-transform: translateX(-50%);
  z-index: 9999;
}
#mouse-scroll span{
  display: block;
  width: 6px; 
  height: 6px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       transform: rotate(45deg);
  border-right: 2px solid #000; 
  border-bottom: 2px solid #000;
  margin: 0 0 3px 3px;
}
#mouse-scroll .mouse {
  height: 40px;
  width: 10px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 1px solid #000;
  top: 170px;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 2s infinite; 
    -moz-animation: mouse-scroll 2s infinite:
}
#mouse-croll .down-arrow-1 {
   -webkit-animation-delay: .1s; 
   -moz-animation-delay: .1s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: .2s; 
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
   -webkit-animation-delay: .3s;
   -moz-animation-dekay: .3s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block; 
  margin: 5px auto;
  background: #000;
  position: relative;
}
#mouse-scroll .mouse-in {
 -webkit-animation: animated-mouse 2s ease infinite;
  moz-animation: mouse-animated 2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  } 
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 1400px){
	h2{
		font-size: 38px;
		margin-bottom: 20px;
	}
	.logo img{
		width: 100px;
		height: auto;
	}
	#footer ul li{
		font-size: 12px;
	}
	.col img{
		width: 80%;
		margin: 0 auto;
		display: block;
	}
}
@media only screen and (max-width: 768px){
	.wraper-contact{
		flex-wrap: wrap;
	}
	#mouse-scroll {
		bottom:100px
	}
	
}
@media only screen and (max-width: 460px){
	body{
		background-size: 100%;
	}
	p{
		font-size: 14px;
		line-height: 21px;
	}
	.logo img {
		width: 75px;
		height: auto;
	}
	.row{
		flex-wrap:wrap;
		padding-right: 50px ;
	}
	.col{
		width: 100%;
	}
	.col:nth-child(1){
		order: 2;
	}
	col:nth-child(2){
		order: 1;
	}
	.section8 {
		padding-top: 120px;
		padding-bottom: 80px;
		overflow: scroll;
	}
	.section8 .col:nth-child(1){
		order: 1;
	}
	.section8 .col:nth-child(2){
		order: 2;
	}
	form{
		padding:0px;
	}
	.col img{
		/* max-width: 200px; */
		width: 60%;
		margin-left: 0;
		/* margin: 0 auto; */
		/* display: block; */
	}
	.wraper-contact{
		flex-wrap: wrap;
	}
	h2{
		font-size: 28px;
		margin-bottom: 20px;
	}
	#footer{
		padding: 0;
	}
	#footer ul{
		flex-wrap: wrap;
	}
	#footer ul li{
		font-size: 12px;
	}
}

@media only screen and (max-height: 500px){
	.section{
		padding: 50px 0 0;
		height: initial!important;
		overflow: initial!important;
	}
}